body {
  /* background-image: url('https://willythewoo.github.io/WillyTheWoo/images/Dusk-min.jpg'); */
  background-color: #FEB8C6;
  background-repeat: repeat;
  background-size: 100%;
  font-family: Helvetica;
  font-size: 16pt;
  padding: 50px;
}

div.whole{
  width:auto;
}


div.main{
  background-color: rgba(255, 255, 255, 0.8)   /* 35% opaque white */;
  padding: 20px;
  border-radius: 25px 25px 25px 25px;
  text-align: center;

}

div.Home{
  background-color: rgba(255, 255, 255, 0.8)   /* 35% opaque white */;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
}

nav{
  height: 100px;
  background-color: #ffffff;
  float: center;
  padding: 20px;
  border-radius: 25px 25px 0px 0px;

}
div.whole ul{
  height: 100px;
  background-color: #ffffff;
  float: left;
  margin-left:15%;
  padding: 0;
  border-radius: 25px;
}

div.whole ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

div.whole ul li a{
  display:block;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica;
  color: #1e1e1e;
  padding: 0px 20px;
}

img{
  border-radius: 25px;
}

div.sub a{
  display: list-item;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  font-family: Helvetica;
  color: #AA0000;
  padding: 0 20px;
}

p{
  font-size: 30px
}

.center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
  padding: 10px;
}

th{
 background-color: #FFFFFF
}
tr:nth-child(odd) {
  background-color: #FAFAFA;
}