body {
  background-image: url('https://willythewoo.github.io/WillyTheWoo/plum.jpg');
  background-repeat: repeat;
  background-size: 100%;
  font-family: Helvetica;
  font-size: 16pt;
}

div.container-fluid.main-container {
  background-color: rgba(255, 255, 255, 0.8)   /* 35% opaque white */;
  padding: 15px;
  border-radius: 25px;
}

img {
    padding: 15px;
    border-radius: 25px;
}