head {
  background-color:  #FFFFDF;
  background-repeat: repeat;
  background-size: 100%;
  font-family: Helvetica;
  font-size: 20pt;
  
}

div {
  background-color: rgba(255, 255, 255, 0.35)   /* 35% opaque white */;
  padding: 0.25em;
}

#TOC {
  font-size: 15px;
  float: left;
}