body {
  background-image: url('https://willythewoo.github.io/WillyTheWoo/COVID/map.jpg');
  background-repeat: repeat;
  background-size: 120%;
  font-family: Helvetica;
  font-size: 16pt;
  border-radius: 25px;
  border: 10px ;
}

div {
  background-color: rgba(255, 255, 255, 0)   /* 35% opaque white */;
  padding: 1em;
}