body {
  background-image: url('https://willythewoo.github.io/WillyTheWoo/Dawn.jpg');
  background-repeat: repeat;
  background-size: 100%;
  font-family: Helvetica;
  font-size: 20pt;
  border-radius: 10px;
  border: 10px #FFFFFF ;
}

div {
  background-color: rgba(255, 255, 255, 0.0)   /* 35% opaque white */;
  padding: 1em;
}

#section-header {
  background-color: rgba(255, 249, 229, 0.75)   /* 35% opaque white */;
  padding: 1em;
  width: 1100px;
}

#__reactivedoc__ {
  background-color: rgba(255, 255, 255, 0.2)   /* 35% opaque white */;
  padding: 1em;
}